<div class="wrapper">
    <div class="input-group">
        <input type="text" class="form-control" (paste)="onPaste($event)" (input)="inputChanged($event)" placeholder="Search country" />
        <div class="input-group-append">
            <span *ngIf="loading" class="input-group-text is-loading">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </span>
        </div>
    </div>
    <ng-container *ngIf="items$|async as items">
        <div class="list" *ngIf="loading === false && items.length > 0">
            <a *ngFor="let item of items" class="list-item" (click)="selectItem(item)">{{item}}</a>
        </div>
    </ng-container>
</div>